.main_title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    padding: 3rem;

} 
.searched_title {

    font-size: 6rem;
    color: red;
    text-shadow: 3px 3px black;

}